.carlist{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border:1px solid rgb(233, 233, 233);
    margin: 1rem 0rem;
}
.carlistimg{
    height: 110px;
}
.carimg{
    height: inherit;
    width: 170px;
}
.detail{
    display: flex;
    flex-direction: column;
    padding: 0px 2rem;
    width: 10vw;
}
.in{
    display: flex;
    font-size: small;
    justify-content: space-between;
    align-items: center;
    color: rgb(110, 114, 116);
}
.in div{
    display: flex;
    align-items: center;
}
.rent{
    display: flex;
    align-items: center;
    padding: 0vw 2vw;
}
.buttoncontainer{
    width: 200px;
    display: flex;
    justify-content: space-evenly;
}
button{
    cursor: pointer;
    outline: none;
    padding: 5px 10px;

}
.currantly-unavilable{
    color: red;
    font-size: xx-small;
}